/* Content table */
.content-table {
  padding: 40px 53px 20px 53px;
  background-color: #fff;
  border-radius: 5px;
  overflow-x:auto;
  margin-bottom: 20px;
}

/* Table */
.styled-table {
  border-collapse: collapse;
  width: 60rem;
  transition: transform 5s ease 0s;
}

.styled-table thead {
  height: 60px;
  font-size: 0.9em;
}

.styled-table thead tr {
  background-color: var(--color-5);
  color: var(--color-3);
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;

  span {
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
    /* display: -webkit-box; */
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody

/* tr:nth-of-type(even) */
  {
  background-color: #ffffff;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: var(--color-3);
  border-bottom: none;
}

img.logo {
  width: 40px;
  height: auto;
}

/* Grid */
section {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

section article:nth-child(1) {
  align-self: end;
  text-align: right;
}

img.icon {
  width: 20px;
  padding: 0 2px;
  height: auto;
}

/* Icons */
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}


dialog div {
  margin: 10px;
}

dialog::backdrop {
  filter: blur(4px);
}

/* dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  width: auto;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: var(--color-3);
  background-color: var(--color-5);
}

.dropdown-content a:hover img {
  background-color: initial;
}
