
/* Table */
.styled-table {
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9em;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #b9c0be;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table  tbody /* tr:nth-of-type(even) */ {
  /* background-color: #f3f3f3; */
  background-color: #ffffff;
}

/* .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #282828;
} */

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #acaead;
}

img.logo {
  width: 40px;
  height: auto;
}

/* Grid */
section {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

section article:nth-child(1) {
  align-self: end;
  text-align: right;
}

img.icon {
  width: 25px;
  padding: 0 2px;
  height: auto;
}

/* Icons */
.icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


dialog div {
  margin: 10px;
}

dialog::backdrop {
  filter: blur(4px);
}
