:host {
  font-size: var(--font-size-4);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  label {
    font-weight: bold;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
